.title {
  width: 480px;
  height: 72px;
  background: #1678cb;
  border-radius: 5px;
  font-weight: 600;
  font-size: 28px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table {
  border-bottom: 1px solid rgb(224, 224, 224);
}
